/*

    consistant across all pages
    
*/
html, body {
    margin: 0;
    min-height: 100%;
    font-family: Helvetica, Arial, sans-serif;
    background-color:#041e42;
}

body {padding-top:40px;}

/*.ink styles - the elements which will create the ripple effect. The size and position of these elements will be set by the JS code. Initially these elements will be scaled down to 0% and later animated to large fading circles on user click.*/
.ink {
	display: block; position: absolute;
	background: hsl(180, 40%, 80%);
	border-radius: 100%;
	transform: scale(0);
}
/*animation effect*/
.ink.animate {animation: ripple 0.65s linear;}
@keyframes ripple {
	/*scale the element to 250% to safely cover the entire link and fade it out*/
	100% {opacity: 0; transform: scale(2.5);}
}




.font-sans {font-family:Helvetica,Arial,sans-serif;}
.font-alternate {font-family:Helvetica,Arial,sans-serif;}
.font-alternate-bold {font-family:Helvetica,Arial,sans-serif;font-weight:bold;}
.font-alternate-bold-italic {font-family:Helvetica,Arial,sans-serif;font-weight:bold;font-style:italic;}
.blue, .blueText{color:#041e42;}
.gold, .goldText{color:#A99260;}
.aqua {color:#00679A;}
.navy {color:#041e42;}
.bg-aqua {background-color:#00679A;}
.bg-blue {background-color:#041e42;}
.bg-gold {background-color:#A99260;}
.bg-navy {background-color:#041e42;}
.bold {font-weight:bold;}
.f12 {font-size:12px;}
.f11 {font-size:11px;}
.f10 {font-size:10px;}
.f9 {font-size:9px;}

.alignleft {
	float:left;
	width:auto;
	margin-right:5px;
}

a.more.button {
	font-family:Helvetica, Arial, sans-serif;
	background-color:#00679a;
	font-size:1em;
	padding:8px 15px;
	text-align:center;
	width:auto;
	font-style:italic;
	font-weight:bold;
	text-decoration:none;
	color:#fff;
}
a.more.button:hover {
	background-color:#041e42;
	text-decoration:none;
	color:#fff;
}
h4{
	margin-top:0px;
	font-size:14px;
}
hr { 
    display: block; 
	height: 1px;
    border: 0; 
	border-top: 1px solid #E9E4DA;
    margin: 1em 0; 
	padding: 0; 
}
.row{
	margin-bottom:15px;
}
footer{
    max-height:150px;
}

.footerImg{
    max-height:64px;
    padding:15px 0;
}

/*

    landing page related stuff

*/

#landingContainer{
    background: #FFF no-repeat bottom center fixed;
    background-size: cover;
    padding-top:0;
}
#containerInfo{
    background-color:#f7f7f7;
    padding-top:0;
}
.landingImage{
    max-height:225px;
}
.navbar{
	background-color: #041e42;
	border-bottom: #041e42;
}

#eagleNavBar.navbar {
	margin-bottom:0;
	max-height:40px;
	min-height:40px;
}
#eagleNavBar.navbar .brand {
	font-size:16px;
	height:40px;
	line-height:1.4em;
	padding:0;
	width:auto;
}
#eagleNavBar .navBarBack {	
	width:auto;
	padding: 10px 0 0;
	margin:0;
	font-size:16px;
	color: #fff;
}

#header.container-fluid {
	background-color:#f7f7f7;
}
#header h1 {
	font-size:1.5em;
	font-weight:bold;
	text-align:center;
	color:#041e42;
}

/* Calendar page

*/

.calendar-item h3.event-date {
	font-size:1.2em;
	margin:5px 0;
	padding:0;
	font-weight:bold;
}
.calendar-item h3.event-title {
	font-size:1.3em;
	margin:5px 0 10px 0;
	padding:0;
	font-weight:bold;
}
.calendar-item  .event-summary {	
	font-size:.9em;
}


	
/*

    emergency page stuff

*/
.emergencyPageHeader{
    background: url(../img/emergency.jpg);
    background-size: cover;
    min-height: 150px;
    margin-top:-5px;
}

.red-plus{
    color:red;
}

/* News page 


*/
h3.news-heading {
	font-size:1.3em;
	font-weight:bold;
	color:#041e42;	
}


.slightlyLarger{
    font-size:125%;
}

.indented{
    text-indent: 25px;
}

.label-info, .btn-primary, .btn-info, .btn-aqua {
    background-color: #00679a;
    border: 0 none;
    color: #ffffff;
}


.label-info:hover, .btn-primary:hover, .btn-info:hover, .btn-aqua:hover {
    background-color: rgba(0, 103, 154, 0.8);
    color:white;
}


.news-thumb{
    max-width:140px;

}


.noMargin{
	margin-top:0;
    margin-bottom:0;
}



/* custom inclusion of right, left and below tabs */

.tabs-below > .nav-tabs,
.tabs-right > .nav-tabs,
.tabs-left > .nav-tabs {
  border-bottom: 0;
}

.tab-content > .tab-pane,
.pill-content > .pill-pane {
  display: none;
}

.tab-content > .active,
.pill-content > .active {
  display: block;
}

.tabs-below > .nav-tabs {
  border-top: 1px solid #ddd;
}

.tabs-below > .nav-tabs > li {
  margin-top: -1px;
  margin-bottom: 0;
}

.tabs-below > .nav-tabs > li > a {
  -webkit-border-radius: 0 0 4px 4px;
     -moz-border-radius: 0 0 4px 4px;
          border-radius: 0 0 4px 4px;
}

.tabs-below > .nav-tabs > li > a:hover,
.tabs-below > .nav-tabs > li > a:focus {
  border-top-color: #ddd;
  border-bottom-color: transparent;
}

.tabs-below > .nav-tabs > .active > a,
.tabs-below > .nav-tabs > .active > a:hover,
.tabs-below > .nav-tabs > .active > a:focus {
  border-color: transparent #ddd #ddd #ddd;
}